fragments/header.html
<head th:fragment="taghead">
    <title th:text="${ titre }">Titre</title>
    <link  href="../../static/style.css" rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
