<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="fragments/header :: taghead">

</head>

<body class="body">
<div th:replace="fragments/menu :: tagmenu"></div>
<a th:href="@{/employe/add}" class="btn btn-primary">Ajouter un employe</a>
<table class="table table-bordered">
    <thead>
    <th scope="col">Nom</th>
    <th scope="col">Prenom</th>
    <th scope="col">Action</th>
    </thead>
    <tbody>
    <tr th:each="employe : ${employes}">
        <td><a style="text-decoration: underline" th:href="@{/employe/update/{id}(id=${employe.id_employe})}"
               th:text="${employe.nom_employe}"></a></td>
        <td th:text="${employe.prenom_employe}"></td>
        <td><a class="btn btn-success" th:href="@{/employe/update/{id}(id=${employe.id_employe})}" th:text="modifier">MODIFIER</a>
        </td>
        <td><a class="btn btn-danger" th:href="@{/client/delete/{id}(id=${employe.id_employe})}"
               th:text="supprimer">SUPPRIMER</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
<div th:replace="fragments/footer :: footer">&copy; 2021 Spring Boot</div>
</html>